body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#powerballNumbers,
#tabstrip-numbers
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.whiteball{
    padding-top : 28px;
    height : 50px; 
    valign : center; 
    text-align : center; 
    width : 20%; 
    float:left; 
    font-size: 1.5em; 
    background-image:url('./images/PBPWhiteball.png'); 
    background-repeat: no-repeat; 
    background-position:center center;
    color: #000;
}

.redball{
    padding-top : 25px;
    height : 50px; 
    valign : center; 
    text-align : center; 
    font-size: 1.5em; 
    background-image:url('./images/PBPRedball.png'); 
    background-repeat: no-repeat; 
    background-position:center center;
    color: #000;
}